<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark py-0">
  <a href="#" class="navbar-brand d-flex align-items-center py-0">
    <img src="/img/laptop7.png" width="70px" />
    <img src="/img/coffee2.png" class="ml-1 mt-2" width="30px" />
  </a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarsExampleDefault" style="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/index/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Projects</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Women Who Code Tokyo</a>
          <a class="dropdown-item" href="#">Brazil Impact in Japan (BRIJ)</a>
          <a class="dropdown-item" href="#">What's Cooking</a>
        </div>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Content</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="#">Blog</a>
            <a class="dropdown-item" href="#">Talks (Videos & Slides)</a>
            <a class="dropdown-item" href="#">Lectures & tutorials</a>
            <a class="dropdown-item" href="#">Podcasts</a>
          </div>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="/about/">About me</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
